/*This CSS file will provide the styles for every page of our rafting website*/
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Source+Code+Pro&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#hero-img {
    width: 100%;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: wheat;
}

body{
    background-color: #fcfbfb;
    font-family: "Source Code Pro", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color:rgba(20,30,13, .7);
}

nav a:hover {
    background-color: #a9814c;
    color: black;
}

.home-title {
    color: black;
    font-family: "Cookie";
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: black;
}

.book, .join {
    background-color: #a9814c;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #597363;
    color: white; 
}

.msg {
    background-color: #936011;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: black;
    font-family: "Cookie";
}

.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #a9814c;
    padding: 25px 50px;
    margin-top: 200px;
}

footer h3 {
    color: black;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: wheat;
}

footer .social img {
    padding-top: 15px;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

footer h3 a:hover {
    text-decoration: underline;
}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card, .mountains {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #597363;
}