@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@200&family=Assistant:wght@200&family=Dosis:wght@300&family=Forum&display=swap');

#content {
    max-width: 90%;
    margin: 0 auto;       
}

body{
    font-family: Forum, Dosis, "Arima Madurai", Assistant;
}

#logoname {
    display: grid;
    grid-template-columns: 100px 1fr;
    justify-content: space-around;
 }   

#storename {
    text-align: center;
    font-size: 2em;
    color: #5b2f32;
    margin-right: 150px; 
}

#navbox { 
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ceac9f;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #ceac9f;
    color: white;
    text-decoration: none;    
}

nav a {
    text-align: center;
    text-decoration: none;  
    color: white;
    margin: 10px;
    padding-top:5px;
    padding-bottom: 6px;
    font-size: 20px;   
}

nav a:hover {
    color: #5b2f32;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;      
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero_pic {
    width: 100%;
}

#hero_msg {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-bottom: 100px;
}

#hero_title {
    color: #5b2f32;
    text-align: center;
    font-size: 2.5em;
}

#hero_button {
    text-align: center;
    
}

#shop {
    text-align: center;
    background-color: #d7d7c1;
    color: #5b2f32;
    font-size: 1.5em;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
}

#shop:hover {
    background-color: #4d6a2c ;
    color: white; 
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    margin: 50px auto;
    grid-column-gap: 40px;   
}

.beachdress {
    grid-column: 1/2;
    width: 100%;      
}

.fabric {
    grid-column: 2/3;
    width: 100%;   
}

.home_msg {
    grid-column: 3/4;
    width: 95%;
    margin: auto;   
}

main h2 {
    color: #5b2f32;
    font-size: 30px;
    text-align: center;
}

footer {
    background-color: #ceac9f;
    padding: 25px 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;    
    font-family: Forum, Dosis, "Arima Madurai", Assistant;     
}

footer h3 {
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #5b2f32;
}

footer h3 a:hover {
    text-decoration: underline;
}

.socialmedia img{
    border-radius: 10px;
}

/* ---------------- Second Child Page - Apparel ------------------*/

#apparel_top {
    margin: 100px auto;    
}

#apparel_text h1 {
    color: #4d6a2c;
    font-size: 2.5em;
}

#apparel_img {
    max-width: 100%;
    max-height: 100%;
    margin: 80px auto; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    text-align: center;    
}

#apparel_img h4 {
    color:#4d6a2c;
    font-size: 1.5em;  
}

.green {
    grid-column: 1/2;
    width: 85%;
    border-radius: 25px;
}

.sage {
    grid-column: 2/3;
    width: 85%;
    border-radius: 25px;
}

.red {
    grid-column: 3/4;
    width: 85%;   
    border-radius: 25px;
}

/* ---------------- Third Child Page - Contact Us ------------------*/

.contact_main {
    margin: auto;
}

#contact_box { 
    justify-content: space-around;
    margin-top: 100px;
    margin-left: 6%;  
}

#contact_box h1{
    text-align: left;
    color:#4d6a2c;
    font-size: 2.5em;
}

#contact_info{ 
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 60px;
    margin: 70px auto;
    width: 90%;
}

#boutique_img {
    grid-column: 1/2;
    grid-row: 1/2;   
}

#boutique {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    border-radius: 25px;
}

#contact_msg {
    grid-column: 2/3;
    grid-row: 1/2;   
    margin: auto;
}

#info_box {
    grid-column: 1/2;
    grid-row: 2/3;  
    display: block;
    max-width: 100%;
    max-height: 100%; 
    text-align: left;
}

.info {
    color:#5b2f32;
    font-size: 22px;
}

#location {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
}

#map {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    border-radius: 25px; 
}